<a href="https://colab.research.google.com/github/AlhanoufIB/IT326Project/blob/main/Phase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

df = pd.read_csv("/content/german_credit_data.csv")

print(df.shape)
#No of rows and colums
print(df.info()) #type of data in the dataset
df.head         #gives you the first 5 rows

(1000, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   Age               1000 non-null   int64
 2   Sex               1000 non-null   object
 3   Job               1000 non-null   int64
 4   Housing           1000 non-null   object
 5   Saving accounts   817 non-null    object
 6   Checking account  606 non-null    object
 7   Credit amount     1000 non-null   int64
 8   Duration          1000 non-null   int64
 9   Purpose           1000 non-null   object
 10  Risk              1000 non-null   object
dtypes: int64(5), object(6)
memory usage: 86.1+ KB
None

<bound method NDFrame.head of      Unnamed: 0  Age     Sex  Job Housing Saving accounts Checking account  \
0             0   67    male    2     own             NaN           little
1             1   22  female    2     own          little         moderate
2             2   49    male    1     own          little              NaN
3             3   45    male    2    free          little           little
4             4   53    male    2    free          little           little
..          ...  ...     ...  ...     ...             ...              ...
995         995   31  female    1     own          little              NaN
996         996   40    male    3     own          little           little
997         997   38    male    2     own          little              NaN
998         998   23    male    2    free          little           little
999         999   27    male    2     own        moderate         moderate

     Credit amount  Duration              Purpose  Risk
0             1169         6             radio/TV  good
1             5951        48             radio/TV   bad
2             2096        12            education  good
3             7882        42  furniture/equipment  good
4             4870        24                  car   bad
..             ...       ...                  ...   ...
995           1736        12  furniture/equipment  good
996           3857        30                  car  good
997            804        12             radio/TV  good
998           1845        45             radio/TV   bad
999           4576        45                  car  good

[1000 rows x 11 columns]>